#top_result {
    width: 100%;
    background-color: #39b4d9;
    padding: 6px 6px;
    border-radius: 0px;
    text-align: right;
}
.number{
    border: solid 0.5px black;
    border-radius: 30px;
    text-align: center;
    padding: 5px 31px;
}
